---
const getData = async () => {
	const res = await fetch(`${import.meta.env.HOSTNAME_URL}/api/days`);
	return (await res.json()) as { said: number; lastStream: number };
};
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Días desde que Midzui</title>
	</head>
	<body>
		<h1>Días desde que Midzui</h1>
		<h2>Dijo que volvía para siempre</h2>
		<p>{(await getData()).said} días</p>
		<h2>Hizo stream</h2>
		<p>{(await getData()).lastStream} días</p>
	</body>
</html>
