<h1>Han pasado</h1>

<div class="elements">
  <p class="dijo element"><%= days_since @data.said %></p>
  <h2 class="dijo title">
    días desde que Midzui dijo que volvía "esta vez para siempre"
  </h2>
  <p class="stream element"><%= days_since @data.last_stream %></p>
  <h2 class="stream title">días desde el último stream</h2>
</div>